
.nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
   

}
a {
    text-decoration: none !important;
    margin-left: 10px;
    margin-right: 10px;
    margin: 20px;
    color: black !important;
}
li{
    list-style: none !important;
}
#home{
    width: 58px;
    height: 23.85px;
    top: 55.96px;
    left: 496px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF5151 !important;
}
#vector_logo{

    width: 35px;
    height: 36px;
    top: 50px;
    left: 100px;
}
#codevo{
    width: 75px;
    height: 23.85px;
    top: 56.08px;
    left: 145px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF5151;
    margin-left: 10px;
   margin-bottom: 10px;
}
.icons_div{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
#search{
    width: 21.75px;
    height: 21.61px;
    top: 4.25px;
    left: 4.28px;
}
#user{
    width: 19.38px;
    height: 21.09px;
    top: 4.04px;
    left: 5.31px;

}
#Notification{
    width: 28.96px;
    height: 24.53px;
    top: 5.46px;
    left: 11.52px;

}
.hero_component{
    
    height: 600px;
    
    margin-top: 34px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%) !important;
    display: flex;
    justify-content: space-between;
}
.hero_heading{
    width: 500px;
}
#fashion{

}
#look_best{
    margin-top: 5px;
    font-family: Mada;
    font-size: 21px;
    font-weight: 200;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;

}
.btn{
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.5) 0%, #FF5E3A 100%);
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: white !important;
    margin-left: 20px;
}
#explore_now{
    width: 200px;
    height: 50px;
    margin-top: 40px;
    left: 140px;
    border-radius: 10px;
    

}
.subsection1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
}
.collection_section{
    display: flex;
    flex-direction: column;
   
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
}
.collection_image{
    width: 95px;
    height: 18px;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 1px;

}
.collection_section>h5{
    margin-top: 20px;
}
.btn_div{
    display: flex;
}
.col_btn{

    width: 120px;
    height: 50px;
    top: 950px;
    left: 740px;
    border-radius: 10px !important;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 10px 0px #0000000D;
    margin-left: 15px;
}
.card{
    background: linear-gradient(180deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
    margin-left: 30px;
    border-radius: 20px !important;
    
}
.overflow{
    overflow-x: scroll;
}
.info{
    padding-top: 10px !important;
    background-color: white !important;
}

.new_arrival>h5,.catrgories_component>h5{
    text-align: center;
}
#poster1,#poster2{
    width: 571px;
    height: 259px;
    top: 1803px;
    left: 100px;
    border-radius: 50px;

}
#poster3{
    width: 619px;
    height: 568px;
    top: 1803px;
    left: 721px;
    border-radius: 50px;

}

.card2{
    background: linear-gradient(0deg, rgba(144, 144, 144, 0.25), rgba(144, 144, 144, 0.25)),linear-gradient(0deg, #F0F0F0, #F0F0F0) !important;

}
footer{
    background: #FCCB9026;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px !important;
}